<div id="siteSettingsWrapper">
    <h4 class="bg-primary">Site ayarları</h4>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form id="UserInfoForm" class="form-horizontal" novalidate="novalidate">
                    <div class="form-group">
                        <label for="Sound" class="col-sm-4 control-label">Ses efekti:</label>
                        <div class="col-sm-8">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Sound" value="true" data-bind="checked: SoundEffect">
                                    Açık
                                </label>
                                <label>
                                    <input type="radio" name="Sound" value="false" data-bind="checked: SoundEffect">
                                    Kapalı
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>