<div id="UserInfoWrapper">
    <h4 class="bg-primary">Günlük hedefim</h4>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="list-group list-group-score">
                    <a href="#" class="list-group-item"><i class="fa fa-dot-circle-o"></i> Günlük <strong id="100">100</strong> PUAN<span class="badge">zayıf</span></a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-dot-circle-o"></i> Günlük  <strong id="300">300</strong> PUAN
                        <span class="badge">eh işte</span>
                    </a>
                    <a href="#" class="list-group-item"><i class="fa fa-dot-circle-o"></i> Günlük  <strong id="500">500</strong> PUAN<span class="badge">orta</span></a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-dot-circle-o"></i> Günlük  <strong id="700">700</strong> PUAN
                        <span class="badge">iyi</span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-dot-circle-o"></i> Günlük  <strong id="1000">1000</strong> PUAN
                        <span class="badge">mükemmel</span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 text-center">

                <img style="width: 220px;" src="@Url.Content("~/Content/images/target.png")" />
            </div>
        </div>
    </div>
</div>