@model englishProject.Models.UserDetail

<div class="panel scoreBackground">
    <div class="panel-body center-block text-center">
        <p><strong id="scoreInfo"> </strong></p>
        <div id="progressContainer" style="margin:0 auto; width: 150px;  height: 150px;">
        </div>
        <br />
        <a href="@Url.Action("Settings","User",new{id=3})" class="btn btn-border"><i class="fa fa-dot-circle-o"></i>  Günlük hedef belirle</a>
    </div>

    <div class="text-center text">
        <strong>Günlük Hedef</strong>
    </div>
</div>