#login-dp {
    min-width: 300px;
    padding: 14px 14px 0;
    overflow: hidden;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc;
    }

.btn-gg {
    color: #fff;
    background-color: #E04006;
}

    .btn-gg:hover {
        color: #fff;
        background-color: #E04006;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}
/*///////////////////////////////////Asp.net MVC  Validation////////////////////////////////////////////////////////*/
.field-validation-error {
    color: #b94a48;
    margin-top: 2px;
    font-size: smaller;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
    margin-top: 2px;
    font-size: smaller;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#login-dp .bottom {
    background-color: #e7e7e7;
    border-top: 3px solid #ddd;
    clear: both;
    padding: 14px;
}

.up {
    background-color: #e7e7e7;
    border-bottom: 3px solid #ddd;
    clear: both;
    padding: 10px 0px;
}
/*///////////////////////////////////Asp.net MVC  Validation////////////////////////////////////////////////////////*/