@using System.Web.UI.WebControls
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link href="@Url.Content("~/Areas/Admin/css/bootstrap.css")" rel="stylesheet" />
    <style type="text/css">
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
        }

        html {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        body {
            width: 100%;
            height: 100%;
            font-family: 'Open Sans', sans-serif;
            background: #fe8c00; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #fe8c00, #f83600); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #fe8c00, #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .login {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -150px;
            width: 300px;
            height: 300px;
        }

            .login h1 {
                color: #fff;
                text-shadow: 0 0 10px rgba(0,0,0,0.3);
                letter-spacing: 1px;
                text-align: center;
            }

        input {
            width: 100%;
            margin-bottom: 10px;
            background: rgba(0,0,0,0.3);
            border: none;
            outline: none;
            padding: 10px;
            font-size: 13px;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 4px;
            box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
            -webkit-transition: box-shadow .5s ease;
            -moz-transition: box-shadow .5s ease;
            -o-transition: box-shadow .5s ease;
            -ms-transition: box-shadow .5s ease;
            transition: box-shadow .5s ease;
        }

            input:focus {
                box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
            }
    </style>
</head>
<body>
    <div class="container" style="margin-top: 60px;">

        @using (Html.BeginForm("login", "Home", FormMethod.Post))
        {

            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>İngilizce Projesine Griş</h1>
                </div>
                <div class="col-md-4 col-md-offset-4">

                    <input type="text" name="txtUserName" placeholder="Kullanıcı adı" required="required" id="txtUserName" />
                    <input type="password" name="txtPassword" placeholder="Şifre" required="required" id="txtPassword" />
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Giriş</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    @Html.ValidationSummary()
                </div>
            </div>

        }
    </div>
</body>
</html>