@model int
<div class="row " style=" padding: 10px; ">
    <div class=" col-md-9">

        <div class="progress" style="margin-bottom: 0px;">
        </div>
    </div>
    <div class=" col-md-1 text-center">

        <strong data-bind="text:totalRate"></strong>
    </div>
    <div class=" col-md-2 text-center">

        <span data-bind="visible:totapInCorrect()<1"><i class="fa fa-heart fa-2x heart-color"></i></span>
        <span data-bind="visible:totapInCorrect()<2"><i class="fa fa-heart fa-2x heart-color"></i></span>
        <span data-bind="visible:totapInCorrect()<3"><i class="fa fa-heart fa-2x heart-color"></i></span>
    </div>
</div>
<div class="row" style="margin: 0px;background-color: #f5f5f5;">

    <div class="pull-left  bg-primary" style="padding: 7px;">
        <i class="fa fa-tachometer"></i>  Puan: <span style="background-color: white;color: blue;" data-bind="text:totalPuan" class="badge"></span>
    </div>

    <div class="pull-left bg-success" style="padding: 7px;">
        <i class="fa fa-star" data-bind="css:{starColor:star()>0}"></i>

        <i class="fa fa-star" data-bind="css:{starColor:star()>1}"></i>

        @if (Model > 2)
        {
        <i class="fa fa-star" data-bind="css:{starColor:star()>2}"></i>
        }
    </div>

    <button style="border-radius: 0;" id="stopQuiz" type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".quizModal"><i class="fa fa-stop-circle"></i> Testti  bitir</button>
    <i class="clearfix"></i>
</div>

<div id="stopQuizModal" class="modal fade quizModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Uyarı</h4>
            </div>
            <div class="modal-body">
                <p>Testten çıkış yaparsanız kazanmış olduğunuz puanları kaybedeceksiniz.<strong>Biraz daha sabredip bitirmelisin bence :)</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <a href="@Url.Action("index","user")" class="btn btn-danger">Testten çık</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->