@model englishProject.Models.Level
<div class=" alert alert-success alert-update" role="alert" data-bind="visible:(updateWrapper() && subLevelNumber()<2)" style="display: none">
    <div class=" row">
        <div class="col-md-12  text-center">
            <div class="col-md-2">
                <i class="fa fa-thumbs-o-up" style="font-size: 4.7em;"></i>
            </div>
            <div id="warning" class="col-md-8  text-center">
                <h4 style="color: black"><i class="fa fa-star-o"></i> <span data-bind="text:okText"></span></h4>

                <p>
                    <strong>
                        Bu seviyede kendini geliştirmeye devam edebilirsin.
                        @if (Model != null)
                        {
                            <text>Eğer basit geldiyse veya sıkıldıysan bir sonraki seviyeye geçebilirsin.</text>
                        }
                    </strong>
                </p>

                @if (Model != null)
                {
                    <a href="@Url.Action("levelExam", "User", new {Model.levelNumber,Model.kind, subLevel = 1})" c class="btn btn-update">
                        <i class="fa fa-unlock"></i><strong> @Model.levelNumberAppear . seviye açıldı.</strong>
                    </a>
                }
            </div>
            <div class="col-md-2 text-center">

                <button style="margin-top: 12px;" data-bind="click:updateBtn,disable:loading" class=" btn btn-update btn-lg"><i data-bind="visible:loading" class="fa fa-refresh fa-spin"></i> Devam <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>