@model englishProject.Models.Level
<div class=" alert alert-success alert-update" role="alert" data-bind="visible:(updateWrapper() && subLevelNumber()<subLevelCount)" style="display: none">
    <div class=" row">
        <div class="col-md-12  text-center">

            <div id="warning" class="col-md-10  text-center">
                <h3 style="color: black">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o" data-bind="visible:subLevelNumber()>1"></i>
                    <span data-bind="text:okText"></span>
                </h3>

                <p>
                    <strong>
                        Bu seviyede kendini geliştirmeye devam edebilirsin.
                        @if (Model != null)
                        {
                            <text>Eğer basit geldiyse veya sıkıldıysan bir sonraki seviyeye geçebilirsin.</text>
                        }
                    </strong>
                </p>

                @if (Model != null)
                {
                    <a href="@Url.Action("levelExam", "User", new {Model.levelId,subLevel=1})" class="btn btn-success">
                        <i class="fa fa-unlock"></i><strong> @Model.levelNumber . seviye açıldı.</strong>
                    </a>
                }
            </div>
            <div class="col-md-2 text-center">

                <button style="margin-top: 12px;" data-bind="click:updateBtn,disable:loading" class=" btn btn-update btn-lg"><i data-bind="visible:loading" class="fa fa-refresh fa-spin"></i> Devam <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>