<div class="col-md-12">

    <div data-bind="visible:warningAppear()" class="alert alert-danger alert-fail" role="alert" style="display: none; -ms-border-radius: 0px; border-radius: 0px;">
        <div class="row">

            <div class="col-md-2  text-center">
                <i class="fa fa-exclamation-triangle" style="font-size: 4.2em;"></i>
            </div>
            <div id="warningWrapper" class="col-md-8 text-center">
            </div>
            <div class="col-md-2 text-center">
                <button data-bind="click:nextBtn" class=" btn btn-danger btn-lg btn-continue">Devam <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>