@using englishProject.Infrastructure
@model  Dictionary<string, int>
@{
    int count = 0;
}
<div class="list-group">
    @foreach (var item in Model)
    {
        <button data-target="#boxCarausel" data-slide-to="@(count++)" type="button" class="list-group-item">
            <i class="fa fa-cube"></i>  @item.Key <span class="badge">@item.Value</span>
        </button>

    }
</div>