<footer id="footer" class="footer">
    <div class="row">

        <div class="col-md-5" style="margin-top: 10px;">

            <div>
                <ul class="list-inline list-unstyled">
                    <li>
                        <a href="@Url.Action("Index","User")">Anasayfa</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Comments","User")">Yorumlar</a>
                    </li>
                    <li>
                        <a href="#">Haber oku</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <p>wordboxes.net  © 2015</p>
            </div>
        </div>
        <div class="col-md-4  text-left hidden-xs hidden-sm">
            <ul class="list-unstyled">
                <li><i style="color: white;" class="fa fa-envelope-o"></i><a href="mailto:towesco2010@hotmail.com">towesco2010@hotmail.com</a></li>
                <li><i style="color: white;" class="fa fa-phone"></i><span style="color: white;">yakında....</span></li>
            </ul>
        </div>
        <div class="col-md-3  hidden-xs hidden-sm">

            <ul class="list-unstyled list-inline">
                <li><a href="https://www.facebook.com/wordboxes.net/"><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</footer>