@model englishProject.Models.Level
<div class="panel panel-level-background">

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="img-circle  center-block text-center">
                    <h3 style="margin-bottom: 0px; margin-top: 25px;">@(Model.levelNumber).</h3>
                    <h4 style="margin-top: 0; margin-bottom: 5px;">Seviye</h4>
                    <h5 style="margin-top: 0px;">(@Model.Box.boxName)</h5>
                </div>
            </div>
            <div class="col-md-12 text-center">

                <a style="margin-top: 10px;" data-locked="False" data-levelid="@Model.levelId" id="quizBtn" href="#" class="btn btn-border btn-sm"><i class="fa fa-arrow-circle-right"></i> Teste giriş</a>

                @if (Model.levelRememderCard)
                {

                    <a style="margin-top: 10px;" class="btn btn-border btn-sm" href="@Url.Action("remendercard", "user", new { id = Model.levelId })"><i class="fa fa-paper-plane-o"></i>  hatırlatma kartları</a>

                }
            </div>
        </div>
    </div>
</div>