@model int
<div class="panel scoreBackground">
    <br />
    <div class="img-circle  center-block text-center">
        <h3>@Model </h3>
        <h4>Puan</h4>
    </div>
    <br />
    <div class="text-center text">
        <strong>Bu seviyede kazanabileceğin puan</strong>
    </div>
</div>