@using englishProject.Infrastructure.Users
@{
    UserApp user = ViewBag.user;
}
<div class="panel panel-userbackground">
    <div id="userBackground" class="text-center">
    </div>
    <div class="text-center">
        <img src="@user.PicturePath" class="img-circle img-thumbnail" />
    </div>
    <div class="text-center">
        <strong class="text-primary"><i class="fa fa-user"></i> @user.UserName</strong>
    </div>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
</div>