@using System.Security.Claims
@model  List<Claim>
@{
    ViewBag.Title = "deneme";

}
@foreach (Claim item in Model)
{
    <h5>@item.Issuer @item.Type.ToString() @item.Value.ToString()</h5>
}
<h1>@englishProject.Infrastructure.Operations.getProfil().PicturePath</h1>