@using englishProject.Infrastructure
@using englishProject.Models
@{
    ViewBag.Title = "Home Page";
    List<BoxLevelUser> boxs = ViewBag.boxs;
    ViewBag.Title = "Index";

}

@section Left
{
    @Html.Partial("Templates/UserProfileLeftPV", (UserProfilView)ViewBag.userProfilView)
    @Html.Partial("Templates/BoxMenuPV", (Dictionary<string, int>)ViewBag.boxMenu)
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".subLevelSelect").click(function () {
                $("#mySubLevelSelect").modal();
                var levelNumber = $(this).attr("data-levelNumber");
                var kind = $(this).attr("data-kind");
                var boxNumber = $(this).attr("data-boxNumber");

                var jsonData = { boxNumber: boxNumber, levelNumber: levelNumber, kind: kind };

                $.ajax("/User/LevelExamStartAjax", {
                    type: "GET",
                    data: jsonData,
                    contentType: "html",
                    success: function (data) {

                        $("#mySubLevelSelect .modal-body").html(data);

                    }
                });

            });

        })
    </script>

}
@Html.Partial("Templates/BoxsPV", boxs)

<!-- Modal -->
<div class="modal fade" id="mySubLevelSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alt seviye seç</h4>
            </div>
            <div class="modal-body text-center">
                <h2><i class="fa fa-cog fa-spin"></i></h2>
            </div>
        </div>
    </div>
</div>