@using englishProject.Infrastructure
@using englishProject.Models
@{
    ViewBag.Title = "Home Page";
    List<BoxLevelUser> boxs = ViewBag.boxs;
    ViewBag.Title = "Index";

}

@section Left
{
    @Html.Partial("Templates/UserProfileLeftPV", (UserProfilView)ViewBag.userProfilView)
    @Html.Partial("Templates/BoxMenuPV", (Dictionary<string, int>)ViewBag.boxMenu)
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".subLevelSelect").click(function () {
                $("#mySubLevelSelect").modal();
                var levelId = $(this).attr("data-levelId");

                var jsonData = { levelId: levelId };

                $.ajax("/User/LevelExamStartAjax", {
                    type: "GET",
                    data: jsonData,
                    contentType: "html",
                    success: function (data) {

                        $("#mySubLevelSelect .modal-body").html(data);

                    }
                });

            });

        })
    </script>

}
@Html.Partial("Templates/BoxsPV", boxs)

<!-- SubLevel Select Modal -->
<div class="modal fade" id="mySubLevelSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" style=" padding: 0px;">

                <h2 class="text-center"><i class="fa fa-spinner fa-pulse"></i> yükleniyor....</h2>
            </div>
        </div>
    </div>
</div>
<!-- SubLevel Select Modal -->